.ad-display {
  width: 100%;
  display: flex; justify-content: center; flex-direction: column;
}

.ad-banner {
  display: flex; justify-content: center; align-items: center;
  padding: 10px 20px; 
  margin-left: 15%; margin-bottom: 10px; width: 70%; height: 100px; overflow: hidden;
  background-color: #444; box-sizing: border-box; position: relative; 
  border: 2px solid #444;
}

.ad-banner img {
  height: 100px; object-fit: cover;
}

.ad-close-btn {
  display: flex; justify-content: center; align-items: center;
  height: 20px; width: 20px; position: absolute;
  top: -2px; right: -2px;
  font-size: 30px;
  background-color: #fff; border: 2px solid #444;
  color: #007bff; 
  cursor: pointer;
}
